@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-base leading-[1.4];
  }

  p {
    @apply text-[#959cb1];
  }
}

@layer components {
  .container {
    @apply sm:max-w-[614px] md:max-w-[720px] lg:max-w-[960px];
  }

  .section-spacing {
    @apply px-4 py-[40px] sm:py-[80px] sm:px-8 md:py-[120px];
  }

  .section-title {
    @apply text-[2.074rem] font-bold dark:text-white;
  }
}
